/* .page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
} */

.main {
  display: flex;
  min-height: 95vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(../public/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  width: 100%;
  height: 70vh;
  display: flex;
  
}
.img_cont{

  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_pc{
  background-image: url(../public/pc.png);
  height: 100%;
  width: 70%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.text_cont{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text_cont > *{
  color: white;
}
.Mypc{
  font-size: 70pt;
  margin-bottom: 80px;
}
.text{
  font-size: 20pt;
}
.btn_block{
  width: 100%;
  height: 23vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.btn{
  transition-duration: 0.3s;
  width: 16%;
  height: 30%;
  border-radius: 10px;
  color: white;
  font-size: 15pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  margin: 10px;
  cursor: pointer;
  /* background: linear-gradient(135deg, rgba(255, 0, 204, 0.277), rgba(51, 51, 255, 0.277)); */
  opacity: 1;
    
    /* Легкое, объемное свечение */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 0, 204, 0.3);
    backdrop-filter: blur(5px); /* Эффект матового стекла */
    transition: all 0.3s ease-in-out; /* Плавная анимация */
}
.btn::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /* Цвет, на который хотим изменить (неон) */
  background: linear-gradient(45deg, #ff00cc, #3333ff); 
  opacity: 0.2; /* Изначально не видно */
  border-radius: 10px;
  z-index: -1;
  transition: opacity 0.5s ease; /* ВОТ ОНА ПЛАВНОСТЬ */
}
@media (hover: hover){
    .btn:hover{
      opacity: 1;
    transform: translateY(-5px); /* Кнопка «всплывает» */
    
    border-color: #ff00cc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 0 15px rgba(255, 0, 204, 0.6);
    }

    .btn:hover::before {
      opacity: 0.3;
}
}

@media (hover: none) and (pointer: coarse) {
    .btn::before{
      opacity: 0.3;
}
}
@media (max-width: 1400px){
    .btn{
      font-size: 10pt;
    }
    .Mypc{
      font-size: 50pt;
    }
    .text{
      font-size: 15pt;
    }
}
@media (max-width: 890px){
    .btn{
      font-size: 9pt;
    }
    .Mypc{
      font-size: 45pt;
    }
    .text{
      font-size: 12pt;
    }
}
@media (max-width: 701px){
    .main{
      height: 120vh;
    }
    .content{
      flex-direction: column-reverse;
      height: 100%;
      align-items: center;
  
}
    .btn{
      font-size: 10pt;
    }
    .Mypc{
      font-size: 35pt;
    }
    .text{
      font-size: 12pt;
    }
    .img_cont{

      width: 100%;
      
    }
    .img_pc{
      height: 100%;
      width: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .text_cont{

      width: 100%;
      
    }
}
